<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <ul class="topnav" id="myTopnav">

      <li class="brand">
        <a class="navbar-brand" href="/">
          <i class="fa fa-heart"></i> {{ site.data.global.title }}
        </a>
      </li>

      <li>&nbsp;</li><li>&nbsp;</li>

      {% include topnav_items.html %}

      <li class="icon">
        <a href="javascript:void(0);" style="font-size:15px;" onclick="tglResponsive()">☰</a>
      </li>

    </ul>
  </div>
</nav>

<script type="text/javascript">
  /* Toggle between adding and removing the "responsive" class to topnav */
  /* when the user clicks on the icon */
  function tglResponsive() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
          x.className += " responsive";
      } else {
          x.className = "topnav";
      }
  }
</script>
